<!DOCTYPE>
<html>
<head>
</head>
<body>
  <center>
     <h1>STUDENT INSERT DATA</h1>
     <hr/>
     <table border='1'>
         <tr>
              <td>enrollment_id</td>
              <td><input type="text" placeholder="Enrollment Id" name="enrollment_id"></td>
         </tr>
         <tr>
              <td></td>
              <td><input type="text" placeholder="first name" name="first_name"></td>
         </tr>
         <tr>
              <td>enrollment_id</td>
              <td><input type="text" placeholder="last name" name="last_name"></td>
         </tr>
         <tr>
              <td>enrollment_id</td>
              <td><input type="text" placeholder="date of birth" name="dob"></td>
         </tr>
         <tr>
              <td>enrollment_id</td>
              <td><input type="text" placeholder="mobile number" name="mobile_number"></td>
         </tr>
         <tr>
              <td>enrollment_id</td>
              <td><input type="text" placeholder="email id" name="email_id"></td>
         </tr>
         <tr>
              <td>enrollment_id</td>
              <td><input type="text" placeholder="password" name="login_password"></td>
         </tr>
         <tr>
              <td>enrollment_id</td>
              <td><input type="text" placeholder="otp" name="login_otp"></td>
         </tr>
     </table>
     <input type=  "submit" value="Insert"/>  
         
        
         

  </center>
</body>
</html>
